{% extends "layout.html" %}
{% block title %}{{dic.titulo}}{% endblock %}
{% block head %}

{% endblock %}
{% block section %}
    
    <p>Título: {{dic.projeto.titulo}}</p><br> 
    
    <p>Descrição: {{dic.projeto.descricao}}</p><br>
    
    <p>Url: <a href="{{dic.projeto.url}}" target="blank">Link</a></p><br>

    <p>Alunos:</p><br>
      {% for aluno in dic.projeto.alunos %}
        <p> {{aluno}} </p>
        <br>
      {% endfor %}

    <p>Docentes:</p><br>
      {% for docente in dic.projeto.docentes %}
        <p> {{docente}} </p>
        <br>
      {% endfor %}
{% endblock %}
